/* .ibm-plex mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
*/

body {
  background-color: #ecfff1;
}

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFF2EC;
  position: sticky;
  top: 0.5rem;
}

nav {
    display: inline-flex;
    width: 400px;
}

a.contacts,
a.active {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    margin: 2rem;
    color: #825477;
    text-decoration: none;
    transition-duration: 500ms;
    transition-property: color text-decoration;
}


a:hover {
  color: #CD0B9F;
  text-decoration: underline overline;
  font-size: 2.1rem;
  animation-duration: 3s;
  transition-duration: 500ms;
  transition-property: color text-decoration;
}

#banner {
  display: inline-flex;
  justify-content: center;
}

#banner img {
  width: 80%;
  margin: 5rem 2rem 2rem 2rem;
}

#progetti img {
  max-width: 220px;
}

#progetti p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

#titolo-progetti h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}

#progetto1 {
  display: inline-flex;
  align-items: center;
}

#progetto1 img {
  margin: 2rem 6rem auto 6rem;
}

#progetto1 p {
  padding: 2rem;
}

#progetto2 {
  display: inline-flex;
  align-items: center;
}

#progetto2 img {
  margin: auto 6rem auto 3rem;
}

#progetto2 p {
  text-align: right;
  margin: auto 6rem auto 6rem;
}

h3 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
  margin: 2rem auto auto auto;
}


hr {
  margin: 2rem 0;
}

#progetto3 {
  display: inline-flex;
  align-items: center;
}

#progetto3 img {
  margin: 2rem 6rem auto 6rem;
}

#progetto3 p {
  padding: 2rem;
}

#progetto4 {
  display: inline-flex;
  align-items: center;
}

#progetto4 img {
  margin: auto 6rem auto 3rem;
}

#progetto4 p {
  text-align: right;
  margin: auto 6rem auto 6rem;
}

footer button {
  background-color: #825477;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 500ms;
  transition-property: color text-decoration;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

footer button:hover  {
  background-color: #CD0B9F;
  font-size: 1.2rem;
  animation-duration: 3s;
  transition-duration: 500ms;
  transition-property: color text-decoration;
  cursor:pointer;
}

footer button:active {
  background-color: #A60B81;
}

footer {
  width: 100%;
  background-color: #FFF2EC;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

footer h3 {
  font-size: 2rem;
  padding-top: 2rem;
}

#footer {
display: inline-flex;
justify-content: space-between;
align-items: center;
}

#copyright {
  padding: 1rem 3rem 1rem 5rem;
  color: rgb(107, 103, 103);
}

#contatti {
  display: block;
  width: 40%;
  align-items: end;
  text-align: right;
  padding: 1rem 5rem 1rem 3rem;
}


#sezione-contatti {
  display: inline-flex;
  margin: auto 3rem 2rem 3rem;
  justify-items: center;
}

#sezione-contatti img {
  width: 240px;
}

#sezione-contatti p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

#sezione-contatti h3 {
  margin: auto 3rem;
}

#telefono,
#mail,
#dove-sono {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#titolocontatti h2{
  display: block;
  margin-top: 3rem;
  margin-bottom: 0;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}
