/*.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
*/

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFF2EC;
}

nav {
    display: inline-flex;
    width: 400px;
}

a.contacts,
a.active {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    width: 100%;
}